@charset "UTF-8";

body,html{
			height: 100%;
			margin: 0;
			background:white;
	  
		}

		.h100 {
		
		padding: 0;
		}
		.chat{
			margin-top: auto;
			margin-bottom: auto;
			height: 100%;
			width: 100%;
		border-radius: 0;
		
				margin: 0 auto;
		}
		
		.card{
			height: 100%;

			background-color:#495057 !important;
			width:100%;
			border:none;
			border-radius: 0;
			padding: 0;
		
			margin: 0 auto;

		}
		.contacts_body{
			padding:  0.75rem 0 !important;
			overflow-y: auto;
			white-space: nowrap;
		}
		.msg_card_body{
			overflow-y: auto;
		}
		.card-header{
			border-radius: 15px 15px 0 0 !important;
			border-bottom: 0 !important;
		}
	 .card-footer{
		border-radius: 0 0 15px 15px !important;
		background-color: rgba(0,0,0,0.3) !important;
			border-top: 0 !important;
			height: 30%;
			padding: 30px 40px 30px 40px;
	}
		.container{
			align-content: center;
		}
		.search{
			border-radius: 15px 0 0 15px !important;
			background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color:white !important;
		}
		.search:focus{
		     box-shadow:none !important;
           outline:0px !important;
		}
		.type_msg{
			background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color:white !important;
			height:160px;
			overflow-y: auto;
		}
			.type_msg:focus{
		     box-shadow:none !important;
           outline:0px !important;
		}
		.attach_btn{
	border-radius: 15px 0 0 15px !important;
	background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color: white !important;
			cursor: pointer;
			padding: 30px;
		}
		.send_btn{
	border-radius: 0 15px 15px 0 !important;
	background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color: white !important;
			cursor: pointer;
		}
		.search_btn{
			border-radius: 0 15px 15px 0 !important;
			background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color: white !important;
			cursor: pointer;
		}
		.contacts{
			list-style: none;
			padding: 0;
		}
		.contacts li{
			width: 100% !important;
			padding: 10px 10px;
			
		}
	.active{
			background-color: rgba(0,0,0,0.3);
	}
		.user_img{
			height: 160px;
			width: 160px;
			border:3px solid #f5f6fa;
			margin-top: 10px;
			margin-left: 10px;	
		}
		.user_img_msg{
			height: 110px;
			width: 110px;
			border:3px solid #f5f6fa;
		
		}
	.img_cont{
			position: relative;
			height: 70px;
			width: 70px;
	}
	.img_cont1{
			position: relative;
			height: 70px;
			width: 70px;
	}
	.img_cont_msg{
			height: 40px;
			width: 40px;
			margin-right: 90px;
			
	}
 	.img_cont_msg0{
			height: 40px;
			width: 40px;
			margin-left:25px;
			margin-right: 70px;
			
	}
	.online_icon{
		position: absolute;
		height: 40px;
		width:40px;
		background-color: #4cd137;
		border-radius: 50%;
		top: 130px;
		left: 130px;
		border:3px solid white;
	}
	.offline{
		background-color: #c23616 !important;
			position: absolute;
		height: 40px;
		width:40px;
	
		border-radius: 50%;
		top: 130px;
		left: 130px;
		border:3px solid white;
	}
	.user_info1{
		margin-top: auto;
		margin-bottom: auto;
		margin-left: 15px;
	}
	
	.user_info{
		margin-top: 10px;
		margin-bottom: auto;
		margin-left: 15px;
		width:75%;
	}
	.user_info1 span{
		font-size: 60px;
		color: white;
		margin-left: 120px;
	}
	.user_info p{
	
	color:#e9ecef;
	}
	.video_cam{
		margin-left: 50px;
		margin-top: 5px;
	}
	.video_cam span{
		color: white;
		font-size: 20px;
		cursor: pointer;
		margin-right: 20px;
	}
	
	.msgback {
	color: white;
		font-size: 85px;
		cursor: pointer;
	
	margin-right:15px;
	margin-top:25px;
	margin-left: 20px;
	}
	.msg_cotainer{

		margin-left: 16px;
		border-radius: 50px;
		background-color: #82ccdd;
	
		position: relative;
		white-space: pre;
		    font-size: 45px;
    margin-top: 8px;
    padding-right: 30px;
		padding-left: 30px;
		padding-top: 12px;
				padding-bottom: 8px;
				 max-width:63%;
	}
	.msg_cotainer_send{
	
		margin-right: 16px;
		border-radius: 50px;
		background-color: #78e08f;
	
		 max-width:63%; /* 원하는 최대 너비 설정 */
		white-space: pre;
    overflow: hidden;
    font-size: 45px;
    margin-top: 8px;
    padding-right: 30px;
		padding-left: 30px;
		padding-top: 12px;
		padding-bottom: 8px;
	
	}
	.msg_time{
		
		margin-top: 65px;
		margin-left: 20px;
		color: rgba(255,255,255,0.5);
		font-size: 25px;
	}
	.msg_time_send{
	
	margin-top: 68px;
	margin-right: 20px;
		color: rgba(255,255,255,0.5);
		font-size: 25px;
	}
	.msg_head{
		position: relative;
		padding: 12px 20px 0px 20px;
	}
	#action_menu_btn{
		position: absolute;
		right: 30px;
		top: 10px;
		color: white;
		cursor: pointer;
		font-size: 80px;
			
	margin-top: 25px;
	}
	.action_menu{
		z-index: 1;
		position: absolute;
		padding: 15px 0;
		background-color: rgba(0,0,0,0.5);
		color: white;
		border-radius: 15px;
		top: 60px;
		right: 85px;
		display: none;
	}
	.action_menu ul{
		list-style: none;
		padding: 0;
	margin: 0;
	}
	.action_menu ul li{
		width: 100%;
		padding: 25px 40px;
		margin-bottom: 5px;
		font-size: 50px;
	}
	.action_menu ul li i{
		
	margin-right: 20px;
	
	}
	.action_menu ul li:hover{
		cursor: pointer;
		background-color: rgba(0,0,0,0.2);
	}
	@media(max-width: 576px){
	.contacts_card{
		margin-bottom: 15px !important;
	}
	}
	
	#chat {
	

  scrollbar-color: #d4aa70 #e4e4e4;
  scrollbar-width: thin;
	

}
	#chat::-webkit-scrollbar {
  width: 20px;
	}
	
	#chat::-webkit-scrollbar-track {
 
  border-radius: 100px;
  
}

	#chat::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: #212529;
  
}

#contacts_body::-webkit-scrollbar {
  width: 20px;
	}
	
	#contacts_body::-webkit-scrollbar-track {
 
  border-radius: 100px;
}

	#contacts_body::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: #212529;

}
#message {
	
	resize: none;
	
	overflow: hidden;

 padding: 20px;
}

#send-button{
	
	width:110px;
	display: none;
}

#input-group-append { 
	width:100px;
	
	    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0,0,0,0.3) !important;
    border: 0 !important;
    color: white !important;
   
}
#hideandshow {
	
	line-height:3;
}	


.roomback{
	
	margin-left: 20px;
}

.toId {
		font-size: 20px;
		color: white;
	
}

.time {
	font-size: 12px;
	margin-top: 4px;
		color:  #dee2e6;
		float:right;
	
}

.roommessage{
	
	color:  #c0c0c0;

	
	
}

.note-num {
   position: absolute;

    right: 28px;
    z-index: 2; /* 숫자 아이콘을 아이콘 위에 겹치게 하려면 z-index를 조절 */
    height: 22px;
    width: 22px;
    line-height: 20px;
    text-align: center;
    background-color: red;
    border-radius: 50%;
	display:block;
    color: white;
	
}
.span1{
	text-align: center;
	
}

.msgboard{
	
margin-top:13%;
color: white;
border-radius:20px;
width: 100%;

}

.boarddetail{
	height: 30%; 
	width: 30%;
	border-radius:10px;
}
.boardtitle{
	
	
	font-size:35px;
margin-top:3%;

	width: 68%;
	float: right;
	text-align: center;
	align-items: center;
	 display: flex;
	justify-content: center;

	  text-overflow: ellipsis;
}
.msgdetail{
	height: 40px; 
	margin-top: 20px;
	
}
.trade{
	margin-top:35px;
	background-color: #1E90FF;
	color: white;
	font-weight: bold;
	border: none;
	width:48.5%;
	height: 95px;
	border-radius:15px;
	font-size: 45px;
	margin-top:15px;
}
.review{
	width:48.5%;
	margin-top:35px;
	margin-left: 10px;
		height: 95px;
	border-radius:15px;
	border-color: #1E90FF;
	border-width:3px;
	border-style: solid;
	color:#1E90FF;
	font-weight: bold;
	font-size: 45px;
	
}


.trading {
		margin-top:35px;
	font-weight: bold;
	border: none;
	width:48.5%;
		height: 95px;
	border-radius:15px;
	
font-size: 45px;
	color: white;

	background-color: #ff791e;
}

.traded {
		margin-top:35px;
	font-weight: bold;
	border: none;
	width:48.5%;
	height: 95px;
border-radius:15px;
	
font-size: 45px;
	color: white;

	background-color: #ff1e1e;
}

.bottom_nav_menu{

 
  width: 100%;
  min-height: 7%;
  color: #262626;
  text-align: center;
  z-index: 10;
 
  background: #fcfcfc;
  -webkit-transition: bottom 0.2s;
  transition: bottom 0.2s;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);

 }
 
 .bottom_nav_menu ul .b_nav_list a svg{
  position: relative;
  top: 5px;
 }

.bottom_nav_menu ul li a p{
  font-size: 12px;
  line-height: normal;
  font-weight: 500;
  color: #98a8af;
  font-weight: 500;
  margin-top: 5px;
 }

 .bottom_nav_menu ul{
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 65px;
 }
 .bottom_nav_menu ul li{
  width: 20%;
  height: 100%;
  font-size: 65px;
 }
 .bottom_nav_menu ul li a{
  color: #262626;
  display: block;
  height: 100%;
 }
 .bottom_nav_menu ul li a p{
  font-size: 35px;
  line-height: normal;
  font-weight: 500;
  color: #98a8af;
  font-weight: 500;
  margin-top: 5px;
 }
 .bottom_nav_menu ul .b_nav_list a svg{
  position: relative;
  top: 5px;
 }
 
 .black_c.active path{
   fill: rgb(0, 0, 0);
 }
.b_nav_list a p.active{
  color: rgb(0, 0, 0);
}

 .home_btn {
  width: 140px;
  height: 140px;
  border: solid 4px white;
  border-radius: 200px;
  /* box-shadow: 0 -2px 8px #ffffff inset; */
  box-shadow: 0 -2px 8px #4122d3 inset;
  background-color: #6b4bf5;
  /* background-color: #7759ff; */
  margin: -12px auto;
}

.container_w {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: white;
  position: relative;

}

.black_c{
  fill: #0300ad;
}

.container_w::before,
.container_w::after {
  position: absolute;
  content: "";
  height: 55%;
  width: 35%;
  border-radius: 50%;
  opacity: 1;
  filter: blur(6px);
}


.container_w::after {
  /* background-color: #1673ff; */
  background: linear-gradient(144deg, #1673ff 100%, #0300ad 100%);
  z-index: 1;
  animation: backglow2 3s ease infinite;
  top: 15px;
  left: 9px;
}

.container_w::before {
  /* background-color: #ff2c6b; */
  background: linear-gradient(100deg, #FF48CC 100%, #0300ad 100%);
  z-index: 1;
  animation: backglow1 3s ease infinite;
  top: 14px;
  left: 22px;
}

.svgm {
  width: 35%;
  height: 98%;
  margin: 0px auto;
  z-index: 2;
  position: relative;
}

.svgm svg {
  width: 100%;
  height: 100%;
}

ol, ul {
  list-style: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {

  font-size: 100%;

  vertical-align: baseline;
}

 

.col-md-4 {
    flex: none !important; /* 또는 -ms-flex: 0; */
    max-width: none !important;
    max-height: none !important;
     padding: 0;
}


.col-md-8 {
    flex: none !important; /* 또는 -ms-flex: 0; */
    max-width: none !important;
    max-height: none !important;
    padding: 0;
}

.mb-4, .my-4 {
	margin-bottom: 50px !important;
	
	
}

		.input-group-text {
		font-size: 40px;
	
   
   }
   
   .input-group{
   
   border-radius: 30px;
   
   }
   
   .input-group-append {
    margin-left: -1px;
    height: 160px;
}
 
 .fa-location-arrow {
 
 margin-top: 10px;
 }
 
 textarea.form-control {
 font-size: 40px !important;
 height: 160px;
 
 }