@charset "UTF-8";

body,html{
			height: 100%;
			margin: 0;
			background:white;
	  
		}

		.h100 {
		
		padding: 0;
		}
		.chat{
			margin-top: auto;
			margin-bottom: auto;
			height: 100%;
			width: 100%;
		border-radius: 0;
		
				margin: 0 auto;
		}
		
		.card{
			height: 100%;

			background-color:#495057 !important;
			width:100%;
			border:none;
			border-radius: 0;
			padding: 0;
		
			margin: 0 auto;

		}
		.contacts_body{
			padding:  0.75rem 0 !important;
			overflow-y: auto;
			white-space: nowrap;
		}
		.msg_card_body{
			overflow-y: auto;
		}
		.card-header{
			border-radius: 15px 15px 0 0 !important;
			border-bottom: 0 !important;
		}
	 .card-footer{
		
		background-color: #343a40 !important;
			border-top: 0 !important;
		height: 100px;
		position: fixed;
		left:0;
		
		bottom: 0;
		width: 100%;
	
		box-sizing: border-box;
	}
		.container{
			align-content: center;
		}
		.search{
			border-radius: 15px 0 0 15px !important;
			background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color:white !important;
			height: 90px !important;
			font-size: 40px !important;
			padding-left: 40px !important;
			
		}
		.search:focus{
		     box-shadow:none !important;
           outline:0px !important;
		}
		.type_msg{
			background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color:white !important;
			
			overflow-y: auto;
		}
			.type_msg:focus{
		     box-shadow:none !important;
           outline:0px !important;
		}
		.attach_btn{
	border-radius: 15px 0 0 15px !important;
	background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color: white !important;
			cursor: pointer;
			padding: 30px;
		}
		.send_btn{
	border-radius: 0 15px 15px 0 !important;
	background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color: white !important;
			cursor: pointer;
		}
		.search_btn{
			border-radius: 0 15px 15px 0 !important;
			background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color: white !important;
			cursor: pointer;
		}
		.contacts{
			list-style: none;
			padding: 0;
		}
		.contacts li{
			width: 100% !important;
			padding: 10px 10px;
			margin-left: 25px;
			margin-top: 10px;
			height: 180px;
			
		}
	.active{
			background-color: rgba(0,0,0,0.3);
	}
		.user_img{
			height: 160px;
			width: 160px;
			border:3px solid #f5f6fa;
			margin-top: 10px;
			margin-left: 10px;	
		}
		.user_img_msg{
			height: 110px;
			width: 110px;
			border:3px solid #f5f6fa;
		
		}
	.img_cont{
			position: relative;
			height: 70px;
			width: 70px;
	}
	.img_cont1{
			position: relative;
		
	}
	.img_cont_msg{
			height: 40px;
			width: 40px;
			margin-right: 80px;
			
	}
 	.img_cont_msg0{
			height: 40px;
			width: 40px;
			margin-left:25px;
			margin-right: 70px;
			
	}
	.online_icon{
		position: absolute;
		height: 40px;
		width:40px;
		background-color: #4cd137;
		border-radius: 50%;
		top: 130px;
		left: 130px;
		border:3px solid white;
	}
	.offline{
		background-color: #c23616 !important;
			position: absolute;
		height: 40px;
		width:40px;
	
		border-radius: 50%;
		top: 130px;
		left: 127px;
		border:3px solid white;
	}
	.user_info1{
		margin-top: auto;
		margin-bottom: auto;
		margin-left: 15px;
	}
	
	.user_info{
		margin-top: 32px;
		margin-bottom: auto;
		margin-left: 140px;
		width:75%;
		font-size: 37px;
		height: 132px;
	}
	.user_info1 span{
		font-size: 60px;
		color: white;
		margin-left: 50px;
	}
	.user_info p{
	
	color:#e0e0e0;
	}
	.video_cam{
		margin-left: 50px;
		margin-top: 5px;
	}
	.video_cam span{
		color: white;
		font-size: 20px;
		cursor: pointer;
		margin-right: 20px;
	}
	
	.msgback {
	color: white;
		font-size: 85px;
		cursor: pointer;
	
	margin-right:15px;
	margin-top:45px;
	margin-left: 20px;
	}
	.msg_cotainer{

		margin-left: 16px;
		border-radius: 50px;
		background-color: #82ccdd;
	
		position: relative;
		white-space: pre-wrap;
		    font-size: 45px;
    margin-top:12px;
    padding-right: 35px;
		padding-left: 35px;
		padding-top: 20px;
				padding-bottom: 20px;
				 max-width:63%;
	}
	.msg_cotainer_send{
	
		margin-right: 16px;
		border-radius: 50px;
		background-color: #78e08f;
	
		 max-width:63%; /* 원하는 최대 너비 설정 */
		white-space: pre-wrap;
    overflow: hidden;
    font-size: 45px;
    margin-top: 12px;
    padding-right: 35px;
		padding-left: 35px;
		padding-top: 20px;
		padding-bottom: 20px;
	
	}
	.msg_time{
		
		margin-top: 70px;
		margin-left: 20px;
		color: rgba(255,255,255,0.5);
		font-size: 25px;
	}
	.msg_time_send{
	
	margin-top: 74px;
	margin-right: 20px;
		color: rgba(255,255,255,0.5);
		font-size: 25px;
	}
	.msg_head{
		position: relative;
		padding: 12px 20px 0px 20px;
	}
	#action_menu_btn{
		position: absolute;
		right: 30px;
		top: 10px;
		color: white;
		cursor: pointer;
		font-size: 80px;
			
	margin-top: 45px;
	}
	.action_menu{
		z-index: 1;
		position: absolute;
		padding: 15px 0;
		background-color: rgba(0,0,0,0.5);
		color: white;
		border-radius: 15px;
		top: 60px;
		right: 85px;
		display: none;
	}
	.action_menu ul{
		list-style: none;
		padding: 0;
	margin: 0;
	}
	.action_menu ul li{
		width: 100%;
		padding: 25px 40px;
		margin-bottom: 15px;
		font-size: 60px;
	}
	.action_menu ul li i{
		
	margin-right: 20px;
	
	}
	.action_menu ul li:hover{
		cursor: pointer;
		background-color: rgba(0,0,0,0.2);
	}
	@media(max-width: 576px){
	.contacts_card{
		margin-bottom: 15px !important;
	}
	}
	
	#chat {
	margin-bottom:50px;
  scrollbar-color: #d4aa70 #e4e4e4;
  scrollbar-width: thin;
	

}
	#chat::-webkit-scrollbar {
  width: 20px;
	}
	
	#chat::-webkit-scrollbar-track {
 
  border-radius: 100px;
  
}

	#chat::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: #212529;
  
}

#contacts_body::-webkit-scrollbar {
  width: 20px;
	}
	
	#contacts_body::-webkit-scrollbar-track {
 
  border-radius: 100px;
}

	#contacts_body::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: #212529;

}
#message {
	
	resize: none;
	
	overflow: hidden;

}

#send-button{
	
	width:110px;
	display: none;
}

#input-group-append { 
	width:100px;
	
	    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0,0,0,0.3) !important;
    border: 0 !important;
    color: white !important;
   
}
#hideandshow {
	
	line-height:1.6;
}	


.roomback{
	
	margin-left: 20px;
}

.toId {
		font-size: 50px;
		color: white;
	
}

.time {
	font-size: 25px;
	margin-top: 20px;
		color:  #e0e0e0;
		float:right;
		padding-right: 30px;
	
}

.roommessage{
	
	color:  #c0c0c0;
padding-top: 18px;
	
	
}

.note-num {
   
   
    z-index: 2; /* 숫자 아이콘을 아이콘 위에 겹치게 하려면 z-index를 조절 */
    height: 44px;
    width: 50px;
 
    text-align: center;
    background-color: red;
    border-radius: 100%;
	display:block;
    color: white;
    font-size: 30px;
 
   float:right;
   margin-right: 60px;
	
}
.span1{
	text-align: center;
	
}

.msgboard{
	
margin-top:120px;
color: white;
border-radius:20px;
width: 100%;

}

.boarddetail{
	height: 130px;
	width: 220px;
	border-radius:10px;
	margin-left: 50px;
}
.boardtitle{
	
	
	font-size:35px;
margin-top:33px;
color:white;
	width: 55%;


	 
position: absolute;
top:330px;
right:9%;

	 
}
.msgdetail{
	height: 30px; 

	
}
.trade{
	margin-top:35px;
	background-color: #1E90FF;
	color: white;
	font-weight: bold;
	border: none;
	width:48.5%;
	height: 95px;
	border-radius:15px;
	font-size: 45px;
	margin-top:15px;
}
.review1{
	width:48.5%;
	margin-top:35px;
	margin-left: 10px;
		height: 95px;
	border-radius:15px;
	border-color: #1E90FF;
	border-width:3px;
	border-style: solid;
	color:#1E90FF;
	font-weight: bold;
	font-size: 45px;
	
}


.trading {
		margin-top:35px;
	font-weight: bold;
	border: none;
	width:48.5%;
		height: 95px;
	border-radius:15px;
	
font-size: 45px;
	color: white;

	background-color: #ff791e;
}

.traded {
		margin-top:35px;
	font-weight: bold;
	border: none;
	width:48.5%;
	height: 95px;
border-radius:15px;
	
font-size: 45px;
	color: white;

	background-color: #ff1e1e;
}

 

.col-md-4 {
    flex: none !important; /* 또는 -ms-flex: 0; */
    max-width: none !important;
    max-height: none !important;
     padding: 0;
}


.col-md-8 {
    flex: none !important; /* 또는 -ms-flex: 0; */
    max-width: none !important;
    max-height: none !important;
    padding: 0;
}

.mb-4, .my-4 {
	margin-bottom: 40px !important;
	
	
}

		.input-group-text {
		font-size: 40px;
		width: 95px;
	
	
   
   }
   
   	.input-group-text1 {
		font-size: 50px;
		width: 95px;
		padding-left: 22px;
	padding-top: 18px;
   
   }
   
   .input-group{
   

   
   }
   
   .input-group-append {
    margin-left: -1px;
    height: 77px;
}
 
 .fa-location-arrow {
 

 }
 
 textarea.form-control {
 font-size: 40px !important;
 height: 77px;
 
 }
 textarea{
 min-height: 0px !important;
 }
 
.fa, .fa-brands, .fa-duotone, .fa-light, .fa-regular, .fa-solid, .fa-thin, .fab, .fad, .fal, .far, .fas, .fat {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display,inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    color: white;
}

[class*=" xi-"], [class^=xi-] {
    font-family: xeicon!important;
    display: inline-block;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.span2{

	color: white;
}
.fa-user-circle, .fa-user-tie, .fa-user-slash, .fa-ban, .fa-times{
	
	font-size: 50px;
	width: 70px;
}

img {
	
	max-width: none !important;
}

.bottom_nav_menu {
	
	display: none !important;
}

@media screen and (max-width: 1058px) {
  
  button,input {


  }
  
  .review1 {
  background-color: white !important;
  }
  
  body, button, h1, h2, h3, h4, h5, input, select, table, textarea {
  line-height:normal !important;
  }
  
  }

@media screen and (max-width: 720px) {
	
	 .review1 {
  background-color: white !important;
  }
  

  
  body, button, h1, h2, h3, h4, h5, input, select, table, textarea {
  line-height:normal !important;
  }

}





