body {
	font-family: Arial, sans-serif;
	text-align: center;
}

.container {
	max-width: 500px;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);	
}

.button-container{
	display: flex;

   font-family: Arial, sans-serif;
   text-align: center;
}

.container {
   max-width: 500px;
   margin: 0 auto;
   background-color: #fff;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);   
}

.button-container{
   display: flex;

    padding-bottom: 10px;
}


label {
   font-weight: bold;
   display: block;
   margin-top: 10px;
   font-size: 16px;
}

input[type="text"] {
	padding: 8px !important;
	margin: 5px 0 !important;
	border: 1px solid #ccc !important;
	border-radius: 4px !important;

   padding: 8px !important;
   margin: 5px 0 !important;
   border: 1px solid #ccc !important;
   border-radius: 4px !important;
}

button {
   background-color: #004AAD !important;
   color: white !important;
   padding: 10px 20px !important;
   border: none !important;
   cursor: pointer !important;
   border-radius: 4px !important;
   font-size: 16px !important;
   width: 100%;
   max-width: 360px;
}

.text_find_id {
   color: #8A8A8A;
   font-size: 1rem;
   font-weight: 400;
   word-break: keep-all;
   line-height: 1.4;
   text-align: center;
   padding: 26px 0 42px;
}

.image-container {
	margin: 20px 0;
}

