@charset "UTF-8";

.hide {
	display: none;
}

.cont_map {
	overflow: hidden;
	width: 100%;
}

.content_map {
	position: relative;
}

.map_area {
	overflow: hidden;
	position: relative;
	width: 100%;
}

.map_area .wrap_tit {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 0;
	text-align: center;
}

.map_area .control_map {
	left: -11px;
	top: 20%;
}

.map_area .set_map {
    z-index: 10;
    position: absolute;
    width: 100px;
}

.set_map {
	margin-bottom: 9px;
	margin: auto;
}

.control_map {
	width: 20px;
	height: 20px;
	background-position: -20px 0;
}

.set_map .mylocationblue_img {
	margin-bottom: 9px;
}

.custom-infowindow {
 border: 2px solid #ccc;
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
}

.custom-infowindow a {
	font-weight: bold;
	color: #333;
	text-decoration: none;
}


.custom-infowindow .close-button {
	background-color: #004AAD;
	color: #fff;
	border: none;
	padding: 5px 10px;
	border-radius: 4px;
	cursor: pointer;
}

------------2번째 코드-------------------------
.custom-overlay-info {
	border-bottom: 2px solid #ddd;
	background: #fff;
}

.custom-overlay-info .btitle {
	font-weight: bold;
	font-size: 16px;
}

.custom-overlay-info .addr {
	white-space: nowrap;
	color: #666;
}

.custom-overlay-info .place-image {
	max-width: 100%;
}

.custom-overlay-info .no-image {
	color: #999;
	font-style: italic;
}

.custom-overlay-info .reservation-link {
	color: #00f;
	text-decoration: none;
	font-weight: bold;
}

.mylocationblue_img {
	width: 45px;
}

.tit_location {
	overflow: hidden;
	display: inline-block;
	padding: 5px 14px 0;
	margin: 8px auto 0;
	height: 19px;
	border-radius: 13px;
	font-weight: normal;
	font-size: 18px;
	line-height: 14px;
	color: #555;
	opacity: .9;
	background-color: #fff;
	text-align: center;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .16);
}

#map {
	    position: relative;
    overflow: hidden;
    height: 763px;
}

    :root { 
        -padding-horizontal: 16px; 
        -padding-horizontal-negative: calc(-1 * var(- -padding-horizontal))
    }
    
   .EEbJ3 {
        position: fixed;
        right: 0;
        bottom: 24px;
        left: 0;
        z-index: 5000;
        text-align: center
    }
    
    .EEbJ3 .LSabB {
        display: inline-block;
        vertical-align: top;
        padding: 13px 26px 10px;
        border-radius: 27px;
        background: #0191ff;
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .07), 0 2px 0 0 #0c7ed6, 0 -2px
            4px 0 rgba(0, 0, 0, .08);
        font-weight: 700;
        color: #fff;
        line-height: 2.2rem
    }
    
    .EEbJ3 .LSabB .bOzdO {
        fill: #fff;
        width: 13px;
        height: 12px;
        margin: 5px 0 0 7px
    }

    .bTbC9 {
        margin-top: 4px;
        font-size: 1.0rem
    }
    
    .bTbC9 .E3JsK::after {
        display: block;
        clear: both;
        content: ""
    }
    
    .bTbC9 .E3JsK+.E3JsK {
        margin-top: 16px
    }
    
    .bTbC9 .enwXz {
        position: relative;
        float: left;
        margin-right: 8px
    }
    
    .bTbC9 .enwXz .Gelhv {
        fill: #b6b6b9;
        fill: rgba(var(- -gray60), 1);
        width: 18px;
        height: 18px;
        margin-top: 1px
    }
    
    .bTbC9 .IaqcP {
        overflow: hidden;
        color: #444447;
        color: rgba(var(- -gray20), 1)
    }
    
    .bTbC9 .aib5d ._1vEbV {
        margin-right: 4px
    }
    
    .bTbC9 .aib5d .CUaBo {
        display: inline-block;
        vertical-align: top
    }
    
    .bTbC9 .aib5d .kA6lR {
        margin-right: 5px
    }
    
    .bTbC9 .aib5d .CUaBo+.CUaBo::before {
        display: inline-block;
        vertical-align: top;
        width: 3px;
        height: 3px;
        margin-top: 9px;
        margin-right: 5px;
        margin-left: 5px;
        border-radius: 50%;
        background: #b6b6b9;
        background: rgba(var(- -gray60), 1);
        content: "";
        margin: 9px 5px 0 0
    }
    
    .bTbC9 .MxJwz {
        margin-top: 4px
    }
    
    .bTbC9 .MxJwz .Pk6NG {
        display: inline-block;
        vertical-align: top;
        min-width: 18px;
        height: 18px;
        margin: 1px 4px 0 0;
        padding: 0 5px;
        border-radius: 9px;
        box-sizing: border-box;
        font-size: 1.1rem;
        font-weight: 600;
        color: #fff;
        line-height: 1.8rem;
        text-align: center
    }

    .bTbC9:not(.LPCef, .Ke5RZ) .E3JsK.OC9XQ::-webkit-scrollbar {
        width: 6px;
        height: 6px
    }
    
    .bTbC9:not(.LPCef, .Ke5RZ) .E3JsK.OC9XQ::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background: #c4c6c8
    }
    
    .place_on_mobileweb .bTbC9:not(.LPCef, .Ke5RZ) .E3JsK.OC9XQ::-webkit-scrollbar,
        .place_on_nmap .bTbC9:not(.LPCef, .Ke5RZ) .E3JsK.OC9XQ::-webkit-scrollbar
        {
        display: none
    }
    
    .bTbC9:not(.LPCef, .Ke5RZ) .E3JsK.OC9XQ .IaqcP {
        color: #555558;
        color: rgba(var(- -gray30), 1)
    }
    
    .bTbC9.Ke5RZ {
        margin-top: 16px
    }
    
    .bTbC9.Ke5RZ .aib5d .Sdv8I+.Sdv8I {
        margin-top: 4px
    }
    
    .bTbC9.Ke5RZ .aib5d .erbnZ {
        margin-right: 4px;
        color: #939396;
        color: rgba(var(- -gray50), 1)
    }
    
    .bTbC9.LPCef:not(.Ke5RZ) {
        margin-top: 16px
    }

    .AhhJ9 {
        display: flex;
        height: 40px;
        margin-top: 16px;
        border: 1px solid;
        border-color: #e9e9ec;
        border-color: rgba(var(- -gray80), 1);
        border-radius: 8px;
        box-sizing: border-box
    }
    
    .AhhJ9 .qUp9v {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 1.4rem;
        color: #444447;
        color: rgba(var(- -gray20), 1);
        line-height: 1.9rem
    }
    
    .AhhJ9 .qUp9v .uF189 {
        fill: #555558;
        fill: rgba(var(- -gray30), 1);
        width: 15px;
        height: 15px;
        margin: 0 5px 0 0
    }
    
    .AhhJ9.J6Sua:not(.zkAHQ) {
        height: 80px;
        margin-top: 0;
        border-top-width: 0;
        border-radius: 0 0 12px 12px
    }
    
    .AhhJ9.J6Sua:not(.zkAHQ) .qUp9v {
        flex-direction: column
    }
    
    .AhhJ9.J6Sua:not(.zkAHQ) .qUp9v .uF189 {
        width: 24px;
        height: 24px;
        margin: 0 auto 3px
    }

    .YbMH5 {
        padding: 0 12px
    }
    
    .o6AYQ {
        padding: 0px;
        border: 1px solid black;
        /* border-radius: 18px 18px 0 0; */
        background: #fcfcfc;
    }
    
    .o6AYQ.IgtKb .BaVYi {
        display: inline-block;
        vertical-align: top
    }
    
    .o6AYQ.IgtKb .BaVYi .MsbJT {
        display: inline-block;
        vertical-align: top;
        padding: 8px
    }
    
    .D6DtM {
        overflow: hidden
    }
    
    .HuWKL .vWRnd {
    font-size:1.5rem;
    line-height: 4.4rem;

    }
    
    .HuWKL .AIPix {
        margin-right: 4px;
        font-size: 1.8rem;
        font-weight: 600
    }
    
    .HuWKL .AIPix.XGcQO {
        color: #222225;
        color: rgba(var(- -gray10), 1)
    }
    
    .HuWKL .KjO_m {
        flex: none;
        position: relative
    }
    
    .HuWKL .KjO_m .CCq3i {
        margin: 4px 6px 0 0
    }
    
    .HuWKL .KjO_m.ptaGv .CCq3i {
        fill: #03aa5a;
        fill: rgba(var(- -searchGreen), 1);
        width: 14px;
        height: 14px
    }
    
    .HuWKL .oxuwB {
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin-right: 8px;
        font-size: 1.4rem;
        color: #939396;
        color: rgba(var(- -gray50), 1)
    }
    
    .HuWKL .oxuwB+.oxuwB {
        margin-left: 8px
    }
    
    .HuWKL .oxuwB+.oxuwB::before {
        position: absolute;
        top: 6px;
        left: -8px;
        width: 1px;
        height: 11px;
        background: #e9e9ec;
        background: rgba(var(- -gray80), 1);
        content: ""
    }
    
    .G5wJ8 {
        position: fixed;
        right: 0;
        bottom: 56px;
        left: 0;
        z-index: 5000;
    }
#app-root {
  display: none;
}

.map_wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
}     
	         
.map_area .radius_border {
    top: 8px;
    left: 10px;
}
.map_area .custom_zoomcontrol {
    position: absolute;
   top: -1px;
    left: 3px;
    z-index: 10;
    width: 40px;
}

.custom_zoomcontrol .mylocationblue_btn {
        width: 40px;
    margin-right: 4px;
    margin-bottom: -9px;
}
.mylocationblue_btn{
    width: 55px;
    height: 60px;
	background: none;
}
.control_map .mylocationblue_img {
    width: 20px;
    height: 20px;
    background-position: -20px 0;
}
.control_map {
    position: relative;
    width: 36px;
    height: 34px;
    margin-bottom: 0;
    margin-left: 1px;
    border-bottom: 0 none;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: transparent;
    box-shadow: none;
}
#zoomInButton {
    position: relative;
    width: 38px;
    height: 60px;
    margin-bottom: -10px;
    margin-left: 1px;
	background: none;
    border: none;
    
}
.radius_border {
    position: relative;
    width: 36px;
    height: 34px;
    margin: 1px 0 0 1px;
	background: none;
  	border: none;
}
#zoomOutButton {
    position: relative;
    margin: -17px 0 0 1px;
    background: none;
 	border: none;
}
.radius_border #zoomOutButton {
    width: 38px;
    height: 60px;

}  

.map_viewer_txt {
	position: relative;
	min-height: 101px;
	margin: 0 5px 5px;
	padding: 14px 58px 14px 14px;
	border: 1px solid rgba(0, 0, 0, 0.12);
	background: rgba(255, 255, 255, 0.96);
	background-clip: padding-box;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.map_viewer_txt p {
	overflow: hidden;
	max-width: 100%;
	padding-top: 4px;
	font-size: 15px;
	color: #666;
	line-height: 19px;
}

.map_viewer_txt strong {
	font-size: 18px;
	color: #111;
	font-weight: normal;
	line-height: 22px;
	vertical-align: top;
}

.map_viewer_txt strong span {
	display: inline-block;
	vertical-align: top;
}

.map_viewer_txt .item_cate {
	display: inline-block;
	margin-top: 2px;
	font-size: 13px;
	color: #999;
	vertical-align: top;
}

.map_viewer_txt .item_tel {
	display: inline-block;
	margin-top: 2px;
	font-size: 13px;
	color: #4783e6;
	vertical-align: top;
}

.map_viewer_txt .item_cate + .item_tel:before {
	content: '';
	display: inline-block;
	width: 0;
	height: 10px;
	border-left: 1px solid #ebebeb;
	vertical-align: top;
	margin: 3px 8px 0;
}

.map_viewer_txt_end {
	min-height: 101px;
	padding: 14px !important;
}

.map_viewer_txt_end .search_txt_msg {
	margin-right: -36px;
	padding: 26px 0 0;
	font-size: 14px;
	color: #999;
	text-align: center;
}

.map_viewer_txt_end .search_txt_msg .ico_i {
	margin: 2px 4px 0 0;
}

.map_viewer_txt_shopping {
	padding: 12px 92px 12px 14px;
}

.map_viewer_txt_shopping p {
	max-width: none;
	padding-top: 3px;
	margin-right: -31px;
}

.map_viewer_txt_shopping .item_thumb ~ p,
.map_viewer_txt_shopping .item_thumb ~ .item_name {
	margin-right: 0;
}

.map_viewer_txt_shopping .item_thumb {
	overflow: hidden;
	position: absolute;
	top: 12px;
	right: 13px;
}