<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.js.web.board.BoardDAO">

<select id="listNum">
	SELECT count(distinct b.bno)
	FROM board b 
	JOIN boardEquipment be
	<where>
		<if test="searchV != null and searchV != ''">
		( b.btitle Like CONCAT('%',#{searchV},'%') or b.bcontent Like CONCAT('%',#{searchV},'%') or b.addr Like CONCAT('%',#{searchV},'%') )
		</if>
		<if test="areas != null and areas != '' ">
		 AND b.ano IN (#{areas})
		</if>
		<if test="categories !=null and categories !=''">
		AND b.cate IN (#{categories})
		</if>
		<if test ="equipmetns !=null and equipments !=''">
		AND be.eid IN (#{equipments})
		</if>
		<if test = "minPrice !=null and minPrice !=''">
		AND b.bprice  between #{minPrice} AND #{maxPrice} 
		</if>
		AND b.bdel=1  
		</where>
	
</select>

<select id="list" parameterType="Map" resultType="map">
	SELECT b.bno ,b.btitle,FORMAT(b.bprice,0)as price,b.bcontent,DATE_FORMAT(b.bdate, '%Y.%m.%d %H:%i')as fdate,b.cate,b.bread,b.addr,b.mid,(Select i.realFile where b.bno=i.bno and main = 1 )as realFile,(SELECT COUNT(l.lno) FROM likeList l WHERE b.bno=l.bno) AS likesCount
	,c.cname , (SELECT COUNT(l.lno) FROM likeList l WHERE b.bno=l.bno and mid=#{sid})AS isLiked,b.rentTime,(select Count(th.hno) from tradehistory th where th.bno=b.bno)as tradeFin
	FROM board b
	LEFT JOIN image i ON b.bno = i.bno
	LEFT JOIN cate c ON b.cate = c.cate
	<where>
		<if test="searchV != null and searchV != ''">
		( b.btitle Like CONCAT('%',#{searchV},'%') or b.bcontent Like CONCAT('%',#{searchV},'%') or b.addr Like CONCAT('%',#{searchV},'%') )
		</if>
		<if test="areas != null and areas != '' ">
		 AND b.ano IN (#{areas})
		</if>
		<if test="categories !=null and categories !=''">
		AND b.cate IN (#{categories})
		</if>
		<if test ="equipmetns !=null and equipments !=''">
		AND be.eid IN (#{equipments})
		</if>
		<if test = "minPrice !=null and minPrice !=''">
		AND b.bprice  between #{minPrice} AND #{maxPrice} 
		</if>
		AND b.bdel=1  
		</where>
	GROUP BY b.bno
	<choose>
     <when test= "sort == 2">
        ORDER BY (SELECT COUNT(l.lno) FROM likeList l WHERE b.bno=l.bno) DESC
    </when>
    <when test= "sort == 3">
        ORDER BY b.bread DESC
    </when>
    <when test= "sort == 4">
    	ORDER BY b.bprice ASC
    </when>
    <when test="sort==5">
   		ORDER BY b.bprice DESC
    </when>
    <otherwise>
        ORDER BY b.bno DESC 
    </otherwise>
</choose>
	LIMIT #{cri.pageStart}, #{cri.perPageNum}
</select>

<select id="areaList" parameterType="Map" resultType="Map">
	SELECT ano,aname,rno
	FROM area
	
</select>
<select id="regionList">
	SELECT rno,rname
	FROM region
</select>

<select id="listp">
	SELECT b.bno ,b.btitle,FORMAT(b.bprice,0)as price,b.bcontent,DATE_FORMAT(b.bdate, '%Y.%m.%d %H:%i')as fdate,b.cate,b.bread,b.addr,b.mid,(Select i.realFile where b.bno=i.bno and main = 1 )as realFile,(SELECT COUNT(l.lno) FROM likeList l WHERE b.bno=l.bno) AS likesCount
	,c.cname , (SELECT COUNT(l.lno) FROM likeList l WHERE b.bno=l.bno and mid=#{sid})AS isLiked,b.rentTime,(select Count(th.hno) from tradehistory th where th.bno=b.bno)as tradeFin 
	FROM board b
	LEFT JOIN image i ON b.bno = i.bno
	LEFT JOIN cate c ON b.cate = c.cate
		<where>
		<if test="searchV != null and searchV != ''">
		( b.btitle Like CONCAT('%',#{searchV},'%') or b.bcontent Like CONCAT('%',#{searchV},'%') or b.addr Like CONCAT('%',#{searchV},'%') )
		</if>
		<if test="areas != null and areas != '' ">
		 AND b.ano IN (#{areas})
		</if>
		<if test="categories !=null and categories !=''">
		AND b.cate IN (#{categories})
		</if>
		<if test ="equipmetns !=null and equipments !=''">
		AND be.eid IN (#{equipments})
		</if>
		<if test = "minPrice !=null and minPrice !=''">
		AND b.bprice  between #{minPrice} AND #{maxPrice} 
		</if>
		AND b.bdel=1
		</where>
	GROUP BY b.bno
<choose>
     <when test= "sort == 2">
        ORDER BY (SELECT COUNT(l.lno) FROM likeList l WHERE b.bno=l.bno) DESC
    </when>
    <when test= "sort == 3">
        ORDER BY b.bread DESC
    </when>
    <when test= "sort == 4">
    	ORDER BY b.bprice ASC
    </when>
    <when test="sort==5">
   		ORDER BY b.bprice DESC
    </when>
    <otherwise>
        ORDER BY b.bno DESC 
    </otherwise>
</choose>
	LIMIT #{nextPageLimitI}, #{limitI}
</select>

<insert id="adr" parameterType="Map" >
	INSERT INTO board (btitle,cate,bprice,bcontent,longitude,latitude,addr,mid,addNum,addDetail,rno,ano,size,startTime,endTime,rentTime)
	VALUES (#{title},#{bcate},#{price},#{content},#{x},#{y},#{add},#{mid},#{addNum},#{addD},#{rno},#{ano},#{size},#{startTime},#{endTime},#{rentTime})
</insert>

<select id="bno">
	SELECT last_insert_id();
</select>

<insert id="equip">
	INSERT INTO boardEquipment (bno,eid)
	VALUES (#{bno},#{i})
</insert>

<insert id="image">
	INSERT INTO image (originalFile,realFile,bno ,main)
	VALUES (#{originalFilename},#{realFileName},#{bno},#{main})
</insert>

<select id="cl">
	SELECT cate,cname
	FROM cate

</select>

<select id="el">
	SELECT eid,ename
	FROM equipment

</select>

<select id="detail" parameterType="Map" resultType="Map">
	SELECT b.bno,b.btitle,FORMAT(b.bprice,0)as price,b.bcontent,b.bdate,b.cate,b.bread,b.latitude,b.longitude,b.mid,b.addr,b.addDetail,b.addNum,b.ano,(SELECT c.cname from cate c where b.cate=c.cate)as cateName,(SELECT c.cicon from cate c where b.cate=c.cate)as cateIcon,
	b.size,b.startTime,b.endTime,round((SELECT AVG(rl.star)AS averageStar FROM reviewList rl WHERE rl.rtid=b.mid),1 )as averageS,(select Count(th.hno) from tradehistory th where th.bno=b.bno)as tradeFin
	FROM board b 
	WHERE b.bno=#{bno}
</select>

<select id="imageD">
	SELECT realFile
	FROM image
	WHERE bno=#{bno}
	ORDER BY ino
</select>

<select id="equipD">
	SELECT e.ename
	FROM boardEquipment be
	JOIN board b ON b.bno=be.bno
	JOIN equipment e ON e.eid=be.eid
	WHERE be.bno=#{bno}
	ORDER BY be.eid
	
</select>

<select id="equipDetail">
	SELECT e.ename,e.eicon
	FROM boardEquipment be
	JOIN board b ON b.bno=be.bno
	JOIN equipment e ON e.eid=be.eid
	WHERE be.bno=#{bno}
	ORDER BY be.eid

</select>

<update id="del">
	 UPDATE board
	 SET bdel =0 
	 WHERE bno = #{bno}
</update>

<select id="equipDE">
	SELECT eid
	FROM boardEquipment
	WHERE bno=#{bno}

</select>

<update id="read" parameterType="Map">
	UPDATE board
	SET bread=bread+1
	WHERE bno = #{bno}
</update>

<insert id="report" parameterType="Map">
	INSERT INTO report (rmid,mid,bno,rcontent,rcate)
	VALUES (#{rmid},#{mid},#{bno},#{rcontent},#{rcate} )
</insert>

<select id="dp" parameterType="Map" resultType="Integer">
	SELECT Count(*)
	FROM report
	WHERE rmid=#{rmid} and bno=#{bno}
</select>

<select id="areaN" parameterType="Map" resultType="Map">
	SELECT a.ano,r.rno
	FROM area a 
	JOIN region r ON a.rno = r.rno
	WHERE a.aname = #{area} and r.rname=#{region}
</select>

<update id="bedit">
	UPDATE board
	SET btitle=#{title},cate=#{bcate},bprice=#{price},bcontent=#{content},addr=#{add},longitude=#{x},latitude=#{y},addDetail=#{addD},rno=#{rno},ano=#{ano},mid=#{mid},addNum=#{addNum}
	WHERE bno=#{bno}
	
</update>
<delete id="deleteEquip">
	delete from boardEquipment where bno=#{bno}
</delete>
<select id="reportCateList">
	SELECT *
	FROM reportCate
</select>
<select id="isLike" parameterType="Map" resultType="Integer">
	SELECT count(mid)
	FROM likeList
	WHERE mid=#{sid} AND bno=#{bno}
</select>
<select id="likesCount" parameterType="Map" resultType="Integer">
	SELECT count(mid)
	FROM likeList
	WHERE bno=#{bno}
</select>

<delete id="deleteLike">
	delete from likeList where mid=#{mid} AND bno=#{bno}
</delete>

<insert id="insertLike">
	INSERT INTO likeList (bno,mid)
	VALUES (#{bno},#{mid})
</insert>

<select id="isLikeList">
	SELECT bno
	FROM likeList
	WHERE mid=#{sid}
</select>

<select id="place">
 SELECT b.btitle,b.startTime,b.endTime,b.addr,(SELECT i.realFile from image i where b.bno = i.bno and i.main = 1 )as image ,b.bno
 FROM board b
 WHERE b.cate=#{cate} and b.ano=#{ano} and b.bno != #{bno} 
 ORDER by RAND() LIMIT 5;

</select>
<select id="freviewCheck" parameterType="Map"> 
 SELECT COUNT(reviewNo)
 FROM reviewList 
 WHERE bno=#{bno} and rfid=#{fid} 
</select>

<select id="treviewCheck" parameterType="Map" > 
 SELECT COUNT(reviewNo)
 FROM reviewList 
 WHERE bno=#{bno} and rfid=#{tid} 
</select>

<insert id="postreview" parameterType="Map">
INSERT INTO reviewList (bno, rfid, rtid, star, reviewcontent)
SELECT #{bno}, #{rfid},#{rtid},#{reviewStar},#{reviewContent}
WHERE NOT EXISTS (
    SELECT 1 FROM reviewList 
    WHERE bno = #{bno} AND rfid =#{rfid} AND rtid = #{rtid}
);
</insert>
<select id="tradeFin">
	SELECT Count(hno)
	FROM tradehistory
	<where>
		<if test="bno != null and bno !='' and fid != null and fid !='' and tid != null and tid !=''">
			bno=#{bno} and from_user_id=#{fid} and to_user_id=#{tid}
		</if>
	</where>
</select>
<select id="bnoI">
SELECT bno
FROM board
ORDER BY bno DESC 
LIMIT 1 	
</select>
</mapper>