<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.js.web.map.MapDAO">
	 <insert id="gpsInsert" parameterType="com.js.web.map.MapDTO">
        INSERT INTO map (latitude, longitude)
        VALUES (#{latitude}, #{longitude})
    </insert>
    
    <select id="gpsList" resultType="map" parameterType="com.js.web.map.MapDTO">
    	select latitude,longitude, btitle, badd
    	from map
    	where mno=#{mno}
    </select>
</mapper>